/*me.css by Roque Arnás Izquierdo https://didesweb.com/me-css*/
html{box-sizing:border-box}
*,*:before,*:after{box-sizing:inherit}
body{margin:0}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
/*position*/
.pos-s{position:static!important}
.pos-r{position:relative!important}
.pos-a{position:absolute!important}
.pos-f{position:fixed!important}
@media(min-width: 576px){.pos-sm-s{position:static!important}.pos-sm-r{position:relative!important}.pos-sm-a{position:absolute!important}.pos-sm-f{position:fixed!important}}
@media(min-width: 768px){.pos-md-s{position:static!important}.pos-md-r{position:relative!important}.pos-md-a{position:absolute!important}.pos-md-f{position:fixed!important}}
@media(min-width: 992px){.pos-lg-s{position:static!important}.pos-lg-r{position:relative!important}.pos-lg-a{position:absolute!important}.pos-lg-f{position:fixed!important}}
@media(min-width:1200px){.pos-xl-s{position:static!important}.pos-xl-r{position:relative!important}.pos-xl-a{position:absolute!important}.pos-xl-f{position:fixed!important}}
.l-a{left:auto!important}
.t-a{top:auto!important}
.r-a{right:auto!important}
.b-a{bottom:auto!important}
.z-a{z-index:auto!important}
/*sizes*/
.w-100p{width:100%!important}
.h-100p{height:100%!important}
.w-a{width:auto!important}
.h-a{height:auto!important}
.maw-100p{max-width:100%!important}
.mah-100p{max-height:100%!important}
/*float*/
.fl-l{float:left!important}
.fl-r{float:right!important}
.fl-n{float:none!important}
@media(min-width: 576px){.fl-sm-l{float:left!important}.fl-sm-r{float:right!important}.fl-sm-n{float:none!important}}
@media(min-width: 768px){.fl-md-l{float:left!important}.fl-md-r{float:right!important}.fl-md-n{float:none!important}}
@media(min-width: 992px){.fl-lg-l{float:left!important}.fl-lg-r{float:right!important}.fl-lg-n{float:none!important}}
@media(min-width:1200px){.fl-xl-l{float:left!important}.fl-xl-r{float:right!important}.fl-xl-n{float:none!important}}
/*clear*/
.cl-n{clear:none!important}
.cl-l{clear:left!important}
.cl-r{clear:right!important}
.cl-b{clear:both!important}
/*overflow*/
.ov-v{overflow:visible!important}
.ov-h{overflow:hidden!important}
.ov-s{overflow:scroll!important}
.ov-a{overflow:auto!important}
.ovx-v{overflow-x:visible!important}
.ovx-h{overflow-x:hidden!important}
.ovx-s{overflow-x:scroll!important}
.ovx-a{overflow-x:auto!important}
.ovy-v{overflow-y:visible!important}
.ovy-h{overflow-y:hidden!important}
.ovy-s{overflow-y:scroll!important}
.ovy-a{overflow-y:auto!important}
/*resize*/
.rsz-n{resize:none!important}
.rsz-b{resize:both!important}
.rsz-h{resize:horizontal!important}
.rsz-v{resize:vertical!important}
/*cursor*/
.cur-a{cursor:auto!important}
.cur-d{cursor:default!important}
.cur-c{cursor:crosshair!important}
.cur-ha{cursor:hand!important}
.cur-he{cursor:help!important}
.cur-m{cursor:move!important}
.cur-p{cursor:pointer!important}
.cur-t{cursor:text!important}
/*box-sizing*/
.bxz-cb{box-sizing:content-box!important}
.bxz-bb{box-sizing:border-box!important}
/* font-weight */
.fw-n{font-weight:normal!important}
.fw-b{font-weight:bold!important}
.fw-lr{font-weight:lighter!important}
.fw-br{font-weight:bolder!important}
/*font-style*/
.fs-n{font-style:normal!important}
.fs-i{font-style:italic!important}
/*vertical-align*/
.va-bl{vertical-align:baseline!important}
.va-t{vertical-align:top!important}
.va-m{vertical-align:middle!important}
.va-b{vertical-align:bottom!important}
.va-tb{vertical-align:text-bottom!important}
.va-tt{vertical-align:text-top!important}
/*text-align*/
.ta-l{text-align:left!important}
.ta-r{text-align:right!important}
.ta-c{text-align:center!important}
.ta-j{text-align:justify!important}
@media(min-width: 576px){.ta-sm-l{text-align:left!important}.ta-sm-r{text-align:right!important}.ta-sm-c{text-align:center!important}.ta-sm-j{text-align:justify!important}}
@media(min-width: 768px){.ta-md-l{text-align:left!important}.ta-md-r{text-align:right!important}.ta-md-c{text-align:center!important}.ta-md-j{text-align:justify!important}}
@media(min-width: 992px){.ta-lg-l{text-align:left!important}.ta-lg-r{text-align:right!important}.ta-lg-c{text-align:center!important}.ta-lg-j{text-align:justify!important}}
@media(min-width:1200px){.ta-xl-l{text-align:left!important}.ta-xl-r{text-align:right!important}.ta-xl-c{text-align:center!important}.ta-xl-j{text-align:justify!important}}
/*text-transform*/
.tt-l{text-transform:lowercase!important}
.tt-u{text-transform:uppercase!important}
.tt-c{text-transform:capitalize!important}
/*text-decoration*/
.td-n{text-decoration:none!important}
.td-u{text-decoration:underline!important}
.td-o{text-decoration:overline!important}
.td-l{text-decoration:line-through!important}
/*white-space*/
.whs-n{white-space:normal!important}
.whs-p{white-space:pre!important}
.whs-nw{white-space:nowrap!important}
.whs-pw{white-space:pre-wrap!important}
.whs-pl{white-space:pre-line!important}
/*word-break*/
.wob-n{word-break:normal!important}
.wob-k{word-break:keep-all!important}
.wob-ba{word-break:break-all!important}
/*background*/
.bgsz-a{background-size:auto!important}
.bgsz-ct{background-size:contain!important}
.bgsz-cv{background-size:cover!important}
.bgr-n{background-repeat:no-repeat!important}
.bgr-x{background-repeat:repeat-x!important}
.bgr-y{background-repeat:repeat-y!important}
.bgr-sp{background-repeat:space!important}
.bgr-rd{background-repeat:round!important}
.bgc-t{background-color:transparent!important}
/*list-style-type*/
.list-n{list-style-type:none!important}
.list-d{list-style-type:disc!important}
.list-c{list-style-type:circle!important}
.list-s{list-style-type:square!important}
.list-dc{list-style-type:decimal!important}
.list-dclz{list-style-type:decimal-leading-zero!important}
/*outline*/
.ol-n{outline:none!important}
/*display*/
.d-n{display:none!important}
.d-i{display:inline!important}
.d-ib{display:inline-block!important}
.d-b{display:block!important}
.d-tb{display:table!important}
.d-tbr{display:table-row!important}
.d-tbc{display:table-cell!important}
.d-f{display:flex!important}
.d-i-f{display:inline-flex!important}
@media (min-width: 576px) {.d-sm-n{display:none!important}.d-sm-i{display:inline!important}.d-sm-ib{display:inline-block!important}.d-sm-b{display:block!important}.d-sm-tb{display:table!important}.d-sm-tbr{display:table-row!important}.d-sm-tbc{display:table-cell!important}.d-sm-f{display:flex!important}.d-sm-i-f{display:inline-flex!important}}
@media (min-width: 768px) {.d-md-n{display:none!important}.d-md-i{display:inline!important}.d-md-ib{display:inline-block!important}.d-md-b{display:block!important}.d-md-tb{display:table!important}.d-md-tbr{display:table-row!important}.d-md-tbc{display:table-cell!important}.d-md-f{display:flex!important}.d-md-i-f{display:inline-flex!important}}
@media (min-width: 992px) {.d-lg-n{display:none!important}.d-lg-i{display:inline!important}.d-lg-ib{display:inline-block!important}.d-lg-b{display:block!important}.d-lg-tb{display:table!important}.d-lg-tbr{display:table-row!important}.d-lg-tbc{display:table-cell!important}.d-lg-f{display:flex!important}.d-lg-i-f{display:inline-flex!important}}
@media (min-width: 1200px){.d-xl-n{display:none!important}.d-xl-i{display:inline!important}.d-xl-ib{display:inline-block!important}.d-xl-b{display:block!important}.d-xl-tb{display:table!important}.d-xl-tbr{display:table-row!important}.d-xl-tbc{display:table-cell!important}.d-xl-f{display:flex!important}.d-xl-i-f{display:inline-flex!important}}
/*visibility*/
.v-v{visibility:visible!important}
.v-h{visibility:hidden!important}
.v-c{visibility:collapse!important}
@media(min-width: 576px){.v-sm-v{visibility:visible!important}.v-sm-h{visibility:hidden!important}.v-sm-c{visibility:collapse!important}}
@media(min-width: 768px){.v-md-v{visibility:visible!important}.v-md-h{visibility:hidden!important}.v-md-c{visibility:collapse!important}}
@media(min-width: 992px){.v-lg-v{visibility:visible!important}.v-lg-h{visibility:hidden!important}.v-lg-c{visibility:collapse!important}}
@media(min-width:1200px){.v-xl-v{visibility:visible!important}.v-xl-h{visibility:hidden!important}.v-xl-c{visibility:collapse!important}}
/* fontstyle*/
.fs-n{font-style:normal!important}
.fs-it {font-style:italic!important}
/*flex*/
.fxdc{flex-direction:column!important}
.fxdcr{flex-direction:column-reverse!important}
.fxdr{flex-direction:row!important}
.fxdrr{flex-direction:row-reverse!important}
.fxwn{flex-wrap:nowrap!important}
.fxww{flex-wrap:wrap!important}
.fxwwr{flex-wrap:wrap-reverse!important}
/*justify-content*/
.jc-c{justify-content:center!important}
.jc-fe{justify-content:flex-end!important}
.jc-fs{justify-content:flex-start!important}
.jc-sa{justify-content:space-around!important}
.jc-sb{justify-content:space-between!important}
/*align-self*/
.as-a{align-self:auto!important}
.as-b{align-self:baseline!important}
.as-c{align-self:center!important}
.as-fe{align-self:flex-end!important}
.as-fs{align-self:flex-start!important}
.as-s{align-self:stretch!important}
/*align-content*/
.ac-c{align-content:center!important}
.ac-fe{align-content:flex-end!important}
.ac-fs{align-content:flex-start!important}
.ac-s{align-content:stretch!important}
.ac-sa{align-content:space-around!important}
.ac-sb{align-content:space-between!important}
/*align-items*/
.ai-b{align-items:baseline!important}
.ai-c{align-items:center!important}
.ai-fe{align-items:flex-end!important}
.ai-fs{align-items:flex-start!important}
.ai-s{align-items:stretch!important}
/*end me.css*/
